<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
    <script>
        history.pushState('/login', 'VPN Detected!', '/login')
    </script>
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <div style="background-color: #111319" class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-color: #111319" class="row w-100 m-0">
          <div style="background-color: #111319" class="content-wrapper full-page-wrapper d-flex align-items-center">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <form>
                  <div class="text-center">
                    <br>
                    <center>
                      <p style="font-family: 'Roboto Mono', monospace;">Error!</p>
                      <h3><bold>VPN Detected</bold></h3>
                    </center>
                    <br>
                    <p><%= settings.name %> detected that you are using a VPN; Please turn it off to continue.</p><br>
                    <p>People who use a VPN usually abuse our services, so we don't let them sign in.</p><br>
                    <br>
                    <a href="../login" class="btn btn-primary btn-lg">Try again</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  <%- include('./components/scripts') %>
  </body>
</html>
